@use '@/shared/lib/styles/mixin.scss' as *;
.postTitle {
  padding: 180px 0 64px 0;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    h1 {
      color: #fff;
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    p {
      color: #ccc;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }
}


.postContent {
  padding: 64px 0;
  &__content {
    max-width: 800px;
    margin: 0 auto;
  }
}