.wrap {
  padding: 2rem 0;
  text-align: center;
  margin: 0 auto;
}

.title {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.text {
  color: rgba(204, 204, 204, 0.9);
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
