@use '@/shared/lib/styles/mixin.scss' as *;

.service_card {
    width: 100%;
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    &.orderable_service_card {
      border: 1px solid #222;
    }
    &__header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      padding-bottom: 16px;
      width: 100%;
      border-bottom: 1px solid #222;
      h3 {
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      p {
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
    }
    &__description {
      color: #ccc;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
    &__includes {
      color: #fff;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      display: block;
    }

    h4 {
      color: #fff;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
    &__price {
      color: #b9b9b9;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      span {
        color: #fff;
        font-size: 42px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
    &__note {
      color: rgba(204, 204, 204, 0.5);
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
    button {
      width: 100%;
      margin-top: auto;
    }
  }