@use '@/shared/lib/styles/mixin.scss' as *;

.contactCta {
  padding: 165px 0;
  position: relative;
  @include tablet {
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.30) 100%);
    z-index: 1;
  }

  &__content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    position: relative;
    z-index: 2;
    h2 {
      color: #fff;
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      position: relative;
      z-index: 2;
      @include tablet {
        font-size: 30px;
      }
    }
    p {
      color: #ccc;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      margin-bottom: 12px;
    }
    a {
      position: relative;
      z-index: 2;
    }
  }
}
