@use '@/shared/lib/styles/mixin.scss' as *;

.home_brings {
  padding: 64px 0;
  @include tablet {
    padding: 32px 0;
  }

  h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 64px;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @include tablet {
      margin-bottom: 32px;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
  }

  &__button {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    @include tablet {
      margin-top: 32px;
    }
  }

  &__item {
    width: 25%;
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    background-size: cover;
    background-position: center;
    position: relative;
    border: 1px solid #222;
    justify-content: space-between;
    height: 465px;
    &:nth-child(2) {
      background-position: 20% center;
    }
    @include tablet {
      width: 100%;
      height: 300px;
    }
    &:hover {
      &::after {
        background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
      }
    }
    video {
      position: absolute;
      top: 1px;
      left: 1px;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      object-fit: cover;
      z-index: 0;
    }
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 1;
      transition: all 0.3s ease-in-out;
      height: 100%;
      background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.8) 100%);
    }
    > div {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
      align-self: stretch;
      justify-content: space-between;
      h3 {
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        align-self: stretch;
        li {
          display: flex;
          align-items: flex-start;
          gap: 10px;
          span {
            display: flex;
            width: 16px;
            height: 16px;
            padding: 3px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background: #fff;
          }
          p {
            width: calc(100% - 26px);
            color: #ccc;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
          }
        }
      }
    }
    a {
      position: relative;
      z-index: 1;
    }
  }
}
