@use '@/shared/lib/styles/mixin.scss' as *;

.about_work {
  padding: 64px 0;
  @include tablet {
    padding: 32px 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 64px;
    @include tablet {
      margin-bottom: 32px;
    }
    h2 {
      color: #fff;
      text-align: center;

      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    p {
      color: #ccc;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-align: center;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
  }

  &__button {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    @include tablet {
      margin-top: 32px;
    }
  }

  &__item {
    width: 25%;
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    background-size: cover;
    background-position: center;
    position: relative;
    border: 1px solid #222;
    justify-content: space-between;
    height: 465px;
    &:nth-child(2) {
      background-position: 20% center;
    }
    @include tablet {
      width: 100%;
      height: 300px;
    }
    &:hover {
      &::after {
        background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
      }
      a {
        opacity: 1;
      }
    }
    video,
    img {
      position: absolute;
      top: 1px;
      left: 1px;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      object-fit: cover;
      z-index: 0;
    }
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 1;
      transition: all 0.3s ease-in-out;
      height: 100%;
      background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.8) 100%);
    }

    a {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 2;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }

    > div {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;
      justify-content: space-between;
      h3 {
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      p {
        color: #ccc;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
    }
  }
}
