@use '@/shared/lib/styles/mixin.scss' as *;

.lease_difference {
  padding: 64px 0;
  @include tablet {
    padding: 32px 0;
  }

  h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 64px;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @include tablet {
      margin-bottom: 32px;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    @include tablet {
      flex-direction: column;
    }
  }
  &__col {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #222;
    &:last-child {
      background: #121212;
    }
    @include tablet {
      width: 100%;
    }
    &_item {
      display: flex;
      padding: 32px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      align-self: stretch;
      &:first-child{
        border-bottom: 1px solid #222;
      }
      h3 {
        color: #fff;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
      p {
        color: #ccc;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
      h4 {
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
    }
  }
}
