@use '@/shared/lib/styles/mixin.scss' as *;

.button {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #fff;
  &:hover {
    background: #d9d9d9;
  }
  &.black {
    background: #000;
    color: #fff;
    &:hover {
      background: #0e0e0e;
    }
  }
  &.bordered-black {
    border: 1px solid #FFF;
    color: #fff;
    background: #000;
    &:hover {
      background: #0e0e0e;
      color: #d9d9d9;
      border-color: #d9d9d9;
    }
  }
}
