@use '@/shared/lib/styles/mixin.scss' as *;

.header {
  position: relative;
  z-index: 100;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  transition: all 0.3s ease-in-out;
  &.open {
    background: #000;
  }
  &.scrolled {
    background: #000;
  }
  &__container {
    @include tablet {
      padding: 14px 16px;
    }
  }

  &__cart {
    position: relative;
    span {
      position: absolute;
      bottom: 0;
      right: -6px;
      background: #222;
      width: 12px;
      height: 12px;
      color: #fff;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 12px;
      border-radius: 50%;
      text-align: center;
    }
  }

  &__top {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    &__contacts {
      display: flex;
      align-items: center;
      gap: 24px;
      @include tablet {
        width: 100%;
        justify-content: space-between;
      }
      a {
        color: #fff;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
        text-transform: uppercase;
        &:hover {
          color: #d9d9d9;
        }
      }
    }

    &__actions {
      display: flex;
      align-items: center;
      gap: 24px;
      justify-content: flex-end;
      @include tablet {
        display: none;
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 16px 0;
  }

  &__logo {
    display: flex;
    justify-content: flex-start;
    @include tablet {
      img {
        width: auto;
        height: 20px;
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 24px;
    @include tablet {
      display: none;
    }
    a:not(:last-child) {
      color: #fff;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      &:hover {
        color: #d9d9d9;
      }
      &.active {
        color: #d9d9d9;
      }
    }
  }

  &__mobile_menu_button {
    display: none;
    transition: all 0.2s ease-in-out;
    transform: rotate(0deg);
    width: 32px;
    height: 32px;
    &.open {
      transform: rotate(180deg);
    }
    @include tablet {
      display: block;
    }
  }

  &__mobile_actions {
    display: none;
    @include tablet {
      display: flex;
      align-items: center;
      gap: 24px;
    }
  }

  &__mobile_menu {
    display: none;
    position: absolute;
    top: 99%;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #000;
    padding: 24px;
    height: calc(100vh - 60px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    transform: translateY(-10px);
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    &.open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    nav {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 12px;
      a:not(:last-child) {
        width: 100%;
        display: flex;
        padding: 12px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        border-radius: 6px;
        background: rgba(255, 255, 255, 0.05);
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        &.active {
          color: $accent;
        }
      }
    }
  }

  &__mobile_menu_contact {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
    a {
      color: #dbdcd5;
      font-size: 16px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
    }
  }
  &__mobile_menu_contact_social {
    display: flex;
    gap: 16px;
  }
}
