@use '@/shared/lib/styles/mixin.scss' as *;

.home_services {
  padding: 64px 0;
  @include tablet {
    padding: 32px 0;
  }
  &__content {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }
  &__item {
    width: calc(50% - 12px);
    display: flex;
    padding: 160px 32px 32px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    background-size: cover;
    background-position: center;
    position: relative;
    border: 1px solid #222;
    @include tablet {
      width: 100%;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, #000 100%);
    }
    > div {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      align-self: stretch;
      h3 {
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      p {
        color: #ccc;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
    }
    a {
      position: relative;
      z-index: 1;
    }
  }
}
