@use '@/shared/lib/styles/mixin.scss' as *;

.title {
  margin-bottom: 1.5rem;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.back {
  display: flex;
  margin-top: 1.5rem;
}

.loadingText {
  color: rgba(204, 204, 204, 0.8);
  font-size: 14px;
  font-weight: 300;
}

.orders {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  .order {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: calc(50% - 4px);
    border: 1px solid #222;
    background: #000;
    @include tablet {
      width: 100%;
      padding: 16px;
    }
    h3 {
      color: #fff;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-bottom: 1px solid #222;
      padding-bottom: 16px;
    }
    p {
      color: #ccc;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }
}
