.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 28rem;
  margin: 0 auto;

  h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .formGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 100%;

    label {
      color: #ccc;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }

    .required {
      color: #ff2d30;
      margin-left: 4px;
    }

    input {
      display: flex;
      height: 38px;
      padding: 10px 16px;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      transition: border-color 0.3s ease;
      border: 1px solid rgba(255, 255, 255, 0.05);
      background: rgba(255, 255, 255, 0.03);
      color: #fff;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;

      &:focus {
        outline: none;
        border-color: rgba(255, 255, 255, 0.3);
      }

      &::placeholder {
        color: rgba(255, 255, 255, 0.5);
      }
    }

    .errorInput {
      border-color: rgba(255, 62, 71, 0.30);
    }

    .error {
      color: #ff2d30;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      margin-top: 4px;
    }
  }

  .rootError {
    color: #ff2d30;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  button {
    width: 100%;

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}
