@use '@/shared/lib/styles/mixin.scss' as *;

.contactLocations {
  padding: 0 0 64px 0;
  @include tablet {
    padding: 0 0 32px 0;
  }
  h2 {
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 32px;
  }
  &__content {
    display: flex;
    gap: 32px;
    @include tablet {
      flex-direction: column;
    }
  }
  &__col {
    width: 50%;
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border: 1px solid #222;
    background: #000;
    @include tablet {
      width: 100%;
    }
    > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      align-self: stretch;
      h3 {
        color: #fff;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      p {
        color: #ccc;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
      iframe{
        width: 100%;
        height: 300px;
        border:none;
        filter: grayscale(100%) invert(1);

      }
    }
  }
}
