@use '@/shared/lib/styles/mixin.scss' as *;

.portfolio_services {
  padding: 64px 0;
  @include tablet {
    padding: 32px 0;
  }

  h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 64px;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @include tablet {
      margin-bottom: 32px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 64px;
    @include tablet {
    }
  }
}
