@use '@/shared/lib/styles/mixin.scss' as *;

.langSelector {
  position: relative;
  @include tablet {
    
  }
  > button {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    //text-transform: uppercase;
    @include tablet {
      font-size: 14px;
      justify-content: center;
    }
  }

  .langSelectorItemLabelText {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    //text-transform: uppercase;
    display: none;
    @include tablet {
      display: block;
    }
  }

  .langSelectorDropdown {
    position: absolute;
    top: calc(100% + 6px);
    right: 0;
    width: 100%;
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    //gap: 12px;
    align-self: stretch;
    display: flex;
    width: 150px;
    padding: 16px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    z-index: 99999;
    background: #000;
    @include tablet {
      //top: unset;
      //bottom: calc(100% + 6px);
    }
    > button {
      width: 100%;
      display: flex;
      padding: 10px 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      color: #fff;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      &:hover {
        background: rgba(255, 255, 255, 0.05);
      }

      &.active {
        background: rgba(255, 255, 255, 0.08);
        font-weight: 500;
      }
    }
  }
}
