@use '@/shared/lib/styles/mixin.scss' as *;

.langSelector {
  position: relative;
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
  }
  > button {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    //text-transform: uppercase;
    @include tablet {
      font-size: 14px;
      justify-content: center;
    }
  }

  .langSelectorItemLabelText {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    //text-transform: uppercase;
    display: none;
    @include tablet {
      display: block;
    }
  }

  .langSelectorDropdown {
    position: absolute;
    top: calc(100% + 6px);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    //gap: 12px;
    align-self: stretch;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: $primary;
    z-index: 99999;
    width: 140px;
    @include tablet {
      top: unset;
      bottom: calc(100% + 6px);
    }
    > button {
      width: 100%;
      color: #fff;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 20.8px */
      //text-transform: uppercase;
      padding: 6px 6px 6px 6px;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 8px;
      background: transparent;
      &:hover {
        background: $accent;
        color: #fff;
      }
    }
  }
}
