@use '@/shared/lib/styles/mixin.scss' as *;

.postTitle {
  &__content {
    display: flex;
    padding: 64px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 64px;
    flex: 1 0 0;
    border-right: 1px solid rgba(4, 2, 19, 0.08);
    border-bottom: 1px solid rgba(4, 2, 19, 0.08);
    border-left: 1px solid rgba(4, 2, 19, 0.08);
    width: 890px;
    max-width: 100%;
    margin: 0 auto;
    @include tablet {
      padding: 32px 12px;
      gap: 32px;
    }
    h1 {
      color: $primary;
      font-size: 42px;
      font-style: normal;
      font-weight: 500;
      line-height: 110%; /* 46.2px */
      @include tablet {
        font-size: 32px;
      }
    }
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
      border-radius: 8px;
    }
  }
  &__excerpt {
    display: flex;
    flex-direction: column;
    gap: 16px;
    p {
      color: $light;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
