@use '@/shared/lib/styles/mixin.scss' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  .fieldset {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 24px 0;
    legend {
      color: #fff;
      margin: 24px 0;
    }
    p {
      color: #ddd;
    }
    > div {
      display: flex;
      flex-direction: column;
      gap: 8px;
      label {
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      input {
        width: 100%;
      }
    }
  }
  p {
    color: #ddd;
  }

  .orderSummary {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 24px 0;
    h2 {
      color: #fff;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      th, td {
        border: 1px solid #ddd;
      }
      th {
        background-color: #f0f0f0;
      }
      td {
        background-color: #fff;
      }
    }
  }


  .checkboxes {
    display: flex;
    flex-direction: column;
    gap: 8px;
    label {
      color: #fff;
    }
  }
  .submitButton {
    width: 100%;
    padding: 12px 24px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 4px;
  }
}
