@use '@/shared/lib/styles/mixin.scss' as *;

.about_approach {
  padding: 64px 0;
  @include tablet {
    padding: 32px 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 64px;
    @include tablet {
      margin-bottom: 32px;
    }
    h2 {
      color: #fff;
      text-align: center;

      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    p {
      color: #ccc;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-align: center;
    }
  }

  &__content {
    display: flex;
    gap: 24px;
    @include tablet {
      flex-direction: column;
    }
  }


  &__item {
    width: 25%;
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    border: 1px solid #222;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, #000 100%), #000;
    @include tablet {
      width: 100%;
    }
    &:last-child {
      width: 50%;
      @include tablet {
        width: 100%;
      }
    }
    span {
      color: rgba(204, 204, 204, 0.2);
      font-size: 42px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    > div {
      h3 {
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 12px;
      }
      p {
        color: #ccc;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
      ul{
        list-style-type: disc;
        margin-left: 18px;
        li{
          list-style-type: disc;
          color: #ccc;
          font-size: 14px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
        }
      }
    }
  }
}
