@use '@/shared/lib/styles/mixin.scss' as *;
.postTitle {
  margin-top: 120px;
  padding: 32px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 342px;
  display: flex;
  align-items: flex-end;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    position: relative;
    z-index: 1;
    h1 {
      color: #fff;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      max-width: 800px;
      margin: 0 auto;
    }
  }
}

.postContent {
  padding: 64px 0;
  &__content {
    max-width: 800px;
    margin: 0 auto;
  }
}
