@use '@/shared/lib/styles/mixin.scss' as *;

.home_why {
  padding: 165px 0;
  @include tablet {
    padding: 32px 0;
  }
  &__content {
    display: flex;
    align-items: center;
    gap: 48px;
    @include tablet {
      flex-direction: column;
    }
  }
  &__col {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    @include tablet {
      width: 100%;
    }
    h2 {
      color: #fff;
      font-family: Onest;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      align-self: stretch;
      li {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        span {
          display: flex;
          width: 16px;
          height: 16px;
          padding: 3px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          background: #fff;
        }
        p {
          width: calc(100% - 26px);
          color: #ccc;
          font-size: 14px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
        }
      }
    }
  }
  &__image {
    width: 50%;
    @include tablet {
      width: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
