@use '@/shared/lib/styles/mixin.scss' as *;

.lease_hero {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 64px 0;
  @include tablet {
    align-items: flex-end;
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    z-index: 1;
  }
  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    @include tablet {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    h1 {
      color: #fff;
      font-size: 62px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      @include tablet {
        font-size: 32px;
      }
    }
    p {
      color: #ccc;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }

  &__buttons {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}
