@use '@/shared/lib/styles/mixin.scss' as *;

.accountNavigation {
  display: flex;
  width: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  @include tablet {
    width: 100%;
  }
  h2 {
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    width: 100%;
    a,button {
      display: flex;
      padding: 12px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      align-self: stretch;
      background: rgba(255, 255, 255, 0.05);
      color: #fff;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      &.active{
        background: #fff;
        color: #000;
      }
    }
  }
}
