@use '@/shared/lib/styles/mixin.scss' as *;

.insights_hero {
  &__spacer {
    width: 100%;
    height: 200px;
    border-right: 1px solid rgba(4, 2, 19, 0.08);
    border-bottom: 1px solid rgba(4, 2, 19, 0.08);
    border-left: 1px solid rgba(4, 2, 19, 0.08);
  }
  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-right: 1px solid rgba(4, 2, 19, 0.08);
    border-bottom: 1px solid rgba(4, 2, 19, 0.08);
    border-left: 1px solid rgba(4, 2, 19, 0.08);
    padding: 64px;
    @include tablet {
      padding: 64px 12px;
    }
    .title {
      color: $primary;
      font-size: 42px;
      font-weight: 500;
      line-height: 110%;
      text-align: center;
      @include tablet {
        font-size: 32px;
      }
    }
    .subtitle {
      color: $accent;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
      text-align: center;
    }
  }
  &__featured {
    padding: 64px;
    display: flex;
    align-items: center;
    gap: 64px;
    border-right: 1px solid rgba(4, 2, 19, 0.08);
    border-bottom: 1px solid rgba(4, 2, 19, 0.08);
    border-left: 1px solid rgba(4, 2, 19, 0.08);
    @include tablet {
      padding: 24px;
      row-gap: 24px;
      flex-direction: column;
    }
    .featured_image {
      width: 50%;
      @include tablet {
        width: 100%;
      }
      img {
        width: 100%;
        height: 276px;
        object-fit: cover;
        object-position: center;
        border-radius: 8px;
      }
    }
    .featured_content {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      @include tablet {
        width: 100%;
      }
      h3 {
        color: $primary;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%; /* 35.2px */
        @include tablet {
          font-size: 24px;
        }
      }
      p {
        color: $light;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 16px;
      }
    }
  }
  &__other {
    display: flex;
    border-right: 1px solid rgba(4, 2, 19, 0.08);
    border-bottom: 1px solid rgba(4, 2, 19, 0.08);
    border-left: 1px solid rgba(4, 2, 19, 0.08);
    @include tablet {
      flex-direction: column;
    }
    > div {
      display: flex;
      padding: 48px;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      gap: 32px;
      flex: 1 0 0;
      border-right: 1px solid rgba(4, 2, 19, 0.08);
      @include tablet {
        border-right: none;
        border-bottom: 1px solid rgba(4, 2, 19, 0.08);
        padding: 24px;
      }
      &:last-child {
        border-right: none;
      }
      .top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 32px;
        img {
          width: 100%;
          height: auto;
          border-radius: 8px;
        }
        h3 {
          color: $primary;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 110%; /* 22px */
        }
      }
    }
  }
}
