.layout {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 12px 0;
  .item {
    display: flex;
    width: 308px;
    padding: 12px;
    align-items: center;
    gap: 12px;
    background: rgba(255, 255, 255, 0.05);
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
}
