@use '@/shared/lib/styles/mixin.scss' as *;

.home_hero {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 64px 0;
  @include tablet {
    align-items: center;
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    z-index: 1;
  }
  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 32px;
    @include tablet {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    .tips {
      display: flex;
      align-items: center;
      gap: 10px;
      span {
        width: 8px;
        height: 8px;
        aspect-ratio: 1/1;
        background: #fff;
      }
      p {
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
    }
    h1 {
      color: #fff;
      font-size: 64px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      @include tablet {
        font-size: 42px;
      }
    }
  }

  &__right {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
    h2 {
      color: #fff;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
