@use '@/shared/lib/styles/mixin.scss' as *;

.about_visibility {
  padding: 64px 0;
  position: relative;
  @include tablet {
    padding: 32px 0;
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      #000 0%,
      rgba(0, 0, 0, 0.75) 50%,
      #000 100%
    );
    z-index: 1;
  }
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 64px;
    position: relative;
    z-index: 2;
    @include tablet {
      margin-bottom: 32px;
    }
    h2 {
      color: #fff;
      text-align: center;

      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    p {
      color: #ccc;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-align: center;
    }
  }

  &__content {
    display: flex;
    gap: 24px;
    position: relative;
    z-index: 2;
    @include tablet {
      flex-wrap: wrap;
      gap: 8px;
    }
  }

  &__item {
    width: 25%;
    display: flex;
    padding: 160px 32px 32px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border: 1px solid #222;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, #000 100%);
    @include tablet {
      width: calc(50% - 4px);
    }
    h3 {
      color: #fff;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    p {
      color: #ccc;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }
}
